@use "variables" as *;
@use "typography" as *;
@use "breakpoints" as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $base-font, Arial, Helvetica, sans-serif;
  background-color: $primary-black;
}

.button {
    background-color: $primary-black;
    color: $primary-white;
    border: none;
    border-radius: 0.2rem;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    padding: 1rem;
    font-size: 1rem;

    @include tablet {
        font-size: 1.2rem;
    }

    &:hover {
        background-color: $primary-blue;
        cursor: pointer;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

}

.form-label {
    background: $secondary-cloud;
    color: $primary-black;
    border: none;
    align-content: center;;
}

.form-input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    color: $primary-white;
}

.error-message {
    color: $primary-white;
    text-align: center;
}

.loading-message {
    color: $primary-white;
    text-align: center;
}