// colors
$primary-black: black;
$primary-blue: #2e66e5;
$primary-white: #ffffff;
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$background-graphite: #232940;
$background-light-grey: #f7f8f9;
$supporting-green: #158463;
$supporting-red: #c94515;
$supporting-yello: yellow;

// breakpoints
$max-phone: 767px;
$max-tablet: 1279px;

// typography
$base-font: "Titillium Web";
$bold: 600;
$regular: 400;

// padding & margin
$mobile-margin: 1rem;
$mobile-postheader-margin: 1.5rem;
$mobile-postlabel-margin: 0.25rem;
$tablet-margin: 2rem;
$desktop-margin: 2rem;