// colors
$primary-black: black;
$primary-blue: #2e66e5;
$primary-white: #ffffff;
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$background-graphite: #232940;
$background-light-grey: #f7f8f9;
$supporting-green: rgba(21, 132, 99, 0.5);
$supporting-red: rgba(201, 69, 21, 0.5);
$supporting-yellow: rgba(255, 255, 0, 0.5);

// breakpoints
$max-phone: 767px;
$max-tablet: 1279px;

// typography
$base-font: "Titillium Web";
$bold: 600;
$regular: 400;

// padding & margin
$mobile-margin: 1rem;
$tablet-margin: 2rem;
$desktop-max-width: 63.75rem;