@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.edit-task-form-cont {
    background: $secondary-cloud;
    border-radius: 0.2rem;

}

.edit-task-form {
    background: $secondary-cloud;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-task-title-cont {
    background: $secondary-cloud;
    display: flex;
    justify-content: center;
    gap: 1rem;

    &__title {
        width: 25%;
        text-align: end;
    }

    &__input {
        width: 75%;
    }
}

.edit-task-desc-cont {
    background: $secondary-cloud;
    display: flex;
    justify-content: center;
    gap: 1rem;

    &__desc {
        width: 25%;
        text-align: end;
        height: 10rem;

    }

    &__input {
        width: 75%;
    }

}

.edit-task-priority-cont {
    background: $secondary-cloud;
    display: flex;
    justify-content: center;
    gap: 1rem;

    &__priority {
        width: 25%;
        text-align: end;

    }

    &__input {
        width: 75%;

    }

}

.edit-task-status-cont {
    background: $secondary-cloud;
    display: flex;
    justify-content: center;
    gap: 1rem;

    &__status {
        width: 25%;
        text-align: end;

    }

    &__input {
        width: 75%;
    }

}

.edit-task-button-cont {
    background: $secondary-cloud;
    display: flex;
    justify-content: center;
    gap: 1rem;

}