@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.task-card {
    margin: 1rem;

    &__title {
        background: $secondary-cloud;
        text-align: center;
        padding-top: 0.5rem;
        border-radius: 0.2rem 0.2rem 0 0;
    }

    &__desc {
        background: $secondary-cloud;
        text-align: center;
    }

    &__priority {
        background: $secondary-cloud;
        padding: 0.5rem;
    }

    &__status {
        background: $secondary-cloud;
        padding: 0.5rem;
    }

    &__icon {
        background: $secondary-cloud;
        border: 1px solid $secondary-cloud;

        &:hover {
            cursor: pointer;
            border-radius: 0.2rem;
            border: 1px solid $primary-black;
        }
    }
}

.priority-status-cont {
    background: $secondary-cloud;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.low-priority {
    background: $supporting-green;
    border-radius: 0.2rem;
}

.medium-priority {
    background: $supporting-yellow;
    border-radius: 0.2rem;
}

.high-priority {
    background: $supporting-red;
    border-radius: 0.2rem;
}

.not-started-status {
    background: $supporting-red;
    border-radius: 0.2rem;
}

.in-progress-status {
    background: $supporting-yellow;
    border-radius: 0.2rem;
}

.completed-status {
    background: $supporting-green;
    border-radius: 0.2rem;
}

.task-button-cont {
    background: $secondary-cloud;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 0.2rem 0.2rem;
}