@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.header {
  margin: 0 $mobile-margin;
  display: flex;
  flex-direction: column;

  @include tablet {
    margin: 0 $tablet-margin;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    margin: 0 auto;
    max-width: $desktop-max-width;
  }

  &__logo-cont {
    justify-content: center;
    align-items: center;
    height: 8rem;
    display: flex;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__logo {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}
