@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.login {
    height: 100vh;
    margin: $tablet-margin $mobile-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__title {
        color: $primary-white;
    }

    &__form{
        display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $secondary-cloud;
    padding: 1rem;
    width: 50%;
    border-radius: 0.2rem;

    }
    
    

}

.login-user-cont {
    display: flex;
    width: 100%;
    background: $secondary-cloud;

    &__username {
        width: 50%;
        text-align: center;
    }

    &__input {
        width: 50%;
    }
}

.login-pass-cont {
    display: flex;
    width: 100%;
    background: $secondary-cloud;
    

    &__password {
        width: 50%;
        text-align: center;
    }

    &__input {
        width: 50%;
    }
}
