@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.user-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  flex-direction: column;

  @include tablet {
    padding: 0;
    position: relative;
  }

  &__button {
    background: $secondary-cloud;
    padding: 1rem;
    border-radius: 0.2rem;
    border: none;
    border-left: 1px solid $primary-black;
    border-right: 1px solid $primary-black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      border-radius: 0.2rem 0.2rem 0 0;
    }
  }

  &__dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      position: absolute;
      top: 70%;
      left: 0;
      width: 100%;
      z-index: 10;
    }
  }

  &__logout {
    padding: 1rem;
    background: $secondary-cloud;
    border: 1px solid $primary-black;
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__delete {
    padding: 1rem;
    background-color: $secondary-cloud;
    color: $primary-black;
    border-top: none;
    border-left: 1px solid $primary-black;
    border-right: 1px solid $primary-black;
    border-bottom: 1px solid $primary-black;
    border-radius: 0 0 0.2rem 0.2rem;
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.dropdown-icon {
  background: none;
}
